.site-title:hover{
    cursor: pointer;
}

.container-nav-bg{
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    /* height: 50px; */
}

.container-nav{
    padding: 0 12px;
    width: 1024px;
}

.home-page{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
}

.bg-banner{
    position: relative;
    width: 100%;
    /* height: calc(100vh - 30vh - 25vh - 10vh - 50px); */
    height: calc(100vh - 50px);
    background-color: gray;
    overflow: hidden;
}

.bg-banner::after{
    content: "";
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/public/svgs/connecting-people-blue.svg');
    background-size: contain;
    background-position: center;
    opacity: 0.3;
    z-index: 1;
}

.container-banner{
    position: relative;
    z-index: 2;
    text-align: center;
    height: 30vh;
    /* width: fit-content; */

    width: 768px;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
    flex-direction: row;
    row-gap: 6px;
}

.title-banner{
    /* width: fit-content; */
    height: fit-content;
    min-width: max-content;
    min-height: 250px;
    max-width: 50vw;
    max-height: 60vh;
    padding: 24px 28px;
    text-align: center;
    backdrop-filter: blur(0px) saturate(200%);
    background-color:  rgba(255, 255, 255, 0.85);
    /* background-color: rgba(255, 255, 255, 0.16); */
    /* border-radius: 0px 75px 0px 75px; */
    border: 16px solid rgba(209, 213, 219, 0.35);
    row-gap: 6px;
}

.title-banner p, b, h3{
    display: block;
    /* width: 100%; */
    font-size: 1.2em;
}

.title-banner p{
    text-align: center;
}

.meetup-time-loc{
    background-color: rgb(240, 241, 242);
    padding: 4px 12px;
    border-radius: 12px;
}

.container-labs{
    min-height: 45vh;
    /* background-color: black; */
    background-color: #f9f9f9;
    padding: 32px 12px;
    row-gap: 12px;
}

.card-labs{
    /* min-width: 50%; */
    column-gap: 32px;
    row-gap: 16px;
    justify-content: center;
    padding: 12px;
}

.card-labs a{
    text-decoration: none;
}

.card-lab{
    position: relative;
    width: 220px;
    /* height: 230px; */
    padding: 24px;
    min-width: 160px;
    min-height: 180px;
    border-radius: 4px;
    background-color: white;
    /* backdrop-filter: blur(10px) saturate(200%); */
    /* background-color:  rgba(255, 255, 255, 0.5); */
    border: 1px solid lightgray;
}

.slide-in {
    position: absolute;
    top: 0;
    right: -5%;
    width: 100%;
    height: 100%;
    color: white;
    text-align: center;
    /* padding: 12px; */
    transition: right 0.5s ease; 
    /* display: none; */
    background-color: black;
    z-index: -1;
    border-radius: 12px;
}

.card-lab p{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #428bca;
    font-size: 2.75rem;
    font-weight: bold;
}

.slide-in p{
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: #428bca;
    font-size: 1rem;
}

.card-lab:hover{
    background-color: #428bca;
}

.card-lab:hover p{
    display: flex;
    width: 90%;
    font-weight: bold;
    position: relative;
    text-align: center;
}

.card-lab:hover .slide-in {
    top: 0;
    right: 0;
    width: 100%; 
    display: flex;
    background-color: #428bca;
    color: white;
    text-align: center;
    border-radius: 4px;
    /* display: flex; */
    transition: right 0.5s ease; 
    z-index: 1;
}

.card-lab:hover h3{
    display: none;
}

.container-research{
    min-height: 45vh;
    padding: 32px 12px;
    row-gap: 16px;
}

.container-footer{
    height: 50px;
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
    right:0;
    align-items: center;
    flex-direction: row;
    row-gap: 12px;
    column-gap: 16px;
}

.container-footer p{
    margin: 0;
    padding: 0;
}

.container-footer a:hover p{
    text-decoration: underline;
}

.star-papers{
    list-style: none;
}

.star-papers li{
    text-align: center;
    /* margin-bottom: 12px; */
    /* display: block; */
}

.star-papers a{
    text-decoration: none;
    text-align: center;
    width: fit-content;
}

.card-paper{
    width: fit-content;
    min-height: 35px;
    /* background-color: #f9f9f9; */
    padding: 12px 20px;
    align-items: center;
    column-gap: 6px;
    border-left: 2px solid white;
}

.card-paper svg{
    display: none;
}

.card-paper p{
    margin: 0;
    font-size: 1.1em;
    text-align: left;
}

.card-paper:hover path{
    fill: rgba(var(--bs-link-color-rgb));
}

.card-paper:hover{
    background-color: #eff7ff;
    /* border-radius: 4px; */
    border-left: 2px solid rgba(var(--bs-link-color-rgb));
    
}

.card-paper:hover .p-paper-title{
    text-decoration: underline;   
}

.card-paper:hover p{
    color: rgba(var(--bs-link-color-rgb)) !important;
}

.badge-paper{
    /* width: 20px;
    height: 12px; */
    padding: 2px 1px;
    color: black !important;
    border: 1px solid gray;
    border-radius: 4px;
    font-weight: normal !important;
}

.card-paper:hover .badge-paper{
    background-color: rgba(var(--bs-link-color-rgb)); 
    border: 1px solid rgba(var(--bs-link-color-rgb));
}

.card-paper:hover .badge-paper p, a{
    text-decoration: none !important;
    color: white !important;
}

.chise-page{
    position: relative;
    left: 0;
    right: 0;
    top: 0;
    height: 100%;
    /* height: calc(100vh - 100px); */
    /* overflow-y: hidden; */
    width: 1024px;
    padding: 16px 0;
    margin: auto;
    /* padding: 12px; */
}

.page-title-with-home {
    display: inline-flex;
    padding: 0;
    margin: 0;
    align-items: center;
    column-gap: 8px;
    margin-bottom: 12px;
}

.page-title-with-home svg:nth-child(1){
    width: 20px;
    height: 20px;
    fill: gray;
}

.page-title-with-home svg:nth-child(2){
    width: 15px;
    height: 15px;
    fill: lightgray;
}

.privacy-policy{
    min-height: calc(100vh - 100px);
}

.navbar{
    padding: 0;
}

@media(max-width:1024px){
    .container-nav{
        width: 100%;
    }

    .site-title{
        display: none;
    }
}


@media(max-width:1024px){
    .bg-banner{
        padding: 0 !important;
    }

    .container-banner{
        width: 100%;
    }

    .title-banner{
        width: 95% !important;
        min-width: 95% !important;
        max-height: fit-content;
        border: none;
        border-radius: 0;
    }

    .title-banner h3{
        width: 100% !important;
    }

    .container-banner{
        min-height: 70vh;
        margin: auto;
    }

    .card-lab{
        min-width: 180px;
        min-height: 180px;
    }
}

@media(max-width:320px){
    .card-lab{
        min-width: 95%;
        min-height: 150px;
    }
}