.no-style-ul{
    list-style: none;
    padding:0;
    margin:0;
}
.lead-li{
    color: gray;
    margin-bottom: 4px;
}

.underline{
    text-decoration: underline;
}

.profile-wrapper{
    display: inline-flex;
    column-gap:32px; 
    row-gap: 32px; 
    align-items: start; 
    margin-top:24px;
    margin: auto;
    width: 100%;
}

@media(max-width:768px) {
    .profile-wrapper{
        display: inline-block;
    }
}

/* profile overview */


.overview-ul li p{
    margin:0;  
}

.h-justified-flex{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap:wrap;
}

.h-start-flex{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
}


.paper-link:hover{
    color: black;
}

.about-me-goals{
    font-weight: normal;
    padding: 0 2px;
    background-color: yellow;
}

/*  profile CSS  */
.profile-page{
    column-gap: 48px;
    row-gap: 24px;
    align-items: start;
    width: 100%;
    justify-content: center;
}

.profile-all-section{
    width: 650px;
    row-gap: 8px;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 30px);
    overflow: scroll;
}

.profile-all-section::-webkit-scrollbar{
    display: none;
}

@media(max-width:650px) {
    .profile-all-section{
       width: 90%;
    }
}

.profile-section{
    border-bottom: 1px solid #e2e2e2;
    padding: 16px 0;
}