.no-style-ul{
    list-style: none;
    padding:0;
    margin:0;
}
.lead-li{
    color: gray;
    margin-bottom: 4px;
}

.underline{
    text-decoration: underline;
}

/* flex containers */

.h-center-flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.h-justified-flex{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}

.h-start-flex{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: start;
}

.h-end-flex{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: end;
}

.container{
    margin:auto;
    width: 1024px !important;
}

/* custom navigation styles */

.navbar{
    --bs-navbar-padding-y: 0 !important;
}

.nav-item{
    padding: 8px;
}

.nav-item:hover{
    background-color: aliceblue;
    color: black !important;
}

.nav-item:hover a{
    color: black;
}

.nav-item:hover path{
    fill: black;
}

.nav-item:hover a{
    color: black !important;
}

.nav-link:hover{
    color: black !important;
    text-decoration: none;
}

.nav-link:active{
    color: black !important;
    text-decoration: none;
}

.text-underline{
    text-decoration: underline;
}

/* text colors */

.text-gray{
    color: gray;
}

.text-blue{
    color: blue;
}

/* spacing */

.no-padding{
    padding:0 !important;
}
.no-margin{
    margin:0 !important;
}