.home-page{
    row-gap: 12px;
    column-gap: 12px;
}

.welcome-jumbotron{
    margin:0 !important; 
    background-color: white !important;
    margin-bottom:16px !important;
    padding: 18px 0 !important;
    border-radius: 6px;
    /* min-height: 100px; */
    /* border: 1px solid white; */
}

.welcome-jumbotron h1{
    font-size: 2em !important;
    line-height: 1.5;
    word-wrap: break-word;
    white-space: break-spaces;
    padding: 0;
    margin:0;
    font-weight: 400 !important;
}

.welcome-jumbotron p{
    font-size: 1.35em !important;
    line-height: 1.2;
    font-weight: normal;
}

.home-chise-title{
    column-gap: 8px;
    border-bottom: 1px solid lightgray;
    align-items: center;
    padding: 8px 0;
}

.home-recent-news{
    height: calc(100vh - 100px);
    padding-top: 16px;
    width: 68%;
}

.home-gathering{
    height: calc(100vh - 100px);
    border-left: 1px solid #efefef;
    border-right: 1px solid #efefef;
    width: 30%;
}

.gathering-box{
    width: 100%;  
}

.gathering-title {
    width: 100%;
    background-color: #f2f2f2;
}

.gathering-title p {
    width: 100%;
    padding: 12px 0;
    margin: 0;
    text-align: center;
}

.gathering-content{
    padding: 12px 24px;
    row-gap: 3px;
    border-bottom: 1px solid #efefef;

}

.gathering-content p,b{
    text-align: center;
    width: 100%;
}

@media(max-width:1024px){
    .home-recent-news{
        width: 100%;
    }
    .home-gathering{
        width: 100%;
        order: -1;
        margin-top: 24px;
        height: fit-content;
    }

    .home-chise-title h4{
        width: 80%;
    }
}