.news-list{
    /* min-height: calc(100vh - 50px); */
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.post-here{
    font-weight: normal;
}

.news-card{
    width: 100%;
    padding: 16px 0;
    align-items: center;
    column-gap: 6px;
    row-gap: 8px;
    border-bottom: 1px solid #efefef;
}

.news-card:hover .news-card-title p{
    color: blue;
    text-decoration: underline;
}

.news-card-title {
    align-items: center; 
    /* margin-bottom: 8px;  */
    column-gap: 8px;
    font-size: 1.35em;
    font-weight: normal;
}

.news-card-desc{
    font-size: 1.1em !important;
    padding: 0;
    margin: 0;
}

#yt-logo-updated_yt14{
    width: 30px;
    height: 25px;
    /* align-self: flex-end;
    display: inline-flex; */
}

@media(max-width: 1024px){
    .news-card-title p{
        max-width: 80% !important;
        text-align: left;
    }
}