<div class="profile-section" style="padding-top:0;">
    <h2 style="margin:0;padding:0;margin-bottom:12px;">About Me</h2>
    <p style="border-left: 3px solid black; background-color: #f2f2f2; padding: 12px; border-radius: 0 4px 4px 0;">
    I am pursuing a Ph.D. in Computer Science under the supervision of <a href="https://csc.lsu.edu/~mahmoud/" target="_blank">Dr. Anas Mahmoud</a>. My research focuses on leveraging Large Language Models (LLMs) to address the needs of mobile app users and developers. I apply natural language processing (NLP), qualitative analysis, and statistical methods to gain insights from from user feedback and app design practices. I also investigate app store policies on app testing and feature requirements, and examine their impact on app development workflows.
    </p>
</div>
