<div class="profile-section">
    <h2 style="margin:0;padding:0;margin-bottom:16px;">Education</h2>
    <ul class="no-style-ul overview-ul" >
        {% for item in site.data.education %}
            <li style="margin-bottom: 16px;">
                <div class="h-justified-flex">
                    <h4 style="color: black;margin:0; padding: 0;">{{item.university}}</h4>
                    <i>{{item.duration}}</i>
                </div>
                <div>
                    <p>
                        <i>{{item.position}}</i>;
                        <i>GPA: {{item.gpa}}</i>
                    </p>
                    <p><i>{{item.more}}</i></p>
                </div>
                <div>
                    <p style="color: gray;">{{item.location}}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>