<ul class="no-style-ul overview-ul education-ul" style="margin-bottom: 8px;">
    <li>
        <div class="h-justified-flex">
            <p style="color: black;margin:0; padding: 0;">PhD in Computer Science</p>
             <p>2022-present</p>
        </div>
        <div>
            <p style="color: gray;">Louisiana State University, USA</p>
        </div>
    </li>
    <li>
        <div class="h-justified-flex">
            <p style="color: black;margin:0; padding: 0;">Bachelor in Computer Engineering</p>
             <p>2015-2019</p>
        </div>
        <div>
            <p style="color: gray;">Tribhuwan University, Nepal</p>
        </div>
    </li>
</ul>