<div id="my-info-row">
    <img src="../public/png/profile_2.png" alt="Shristi Shrestha" id="my-profile-pic"/>
    <div id="my-profile-info">
        <ul class="no-style-ul overview-ul" style="margin-bottom: 8px; font-size:0.88em;">
            <li>
                <h2 style="margin:0; padding: 0;">Shristi Shrestha</h2>
            </li>
            <li>
                <p>Phd Candidate</p>
            </li>
            <li>
                <p style="color:gray;">Computer Science and Engineering</p>
            </li>
            <li>
                <p style="color:gray;">Louisiana State University</p>
                <p style="color:gray;">Baton Rouge, LA</p>
            </li>
        </ul>
        <ul class="no-style-ul" style="margin-bottom: 8px;">
            <li class="lead-li"> 
                Email: <a href="mailto:sshre35@lsu.edu">sshre35@lsu.edu
                </a>
            </li>
        </ul>
        {% include components/socials.html %}
    </div>
</div>