<div class="profile-wrapper">
    <img src="../public/profile.jpg" alt="Shristi Shrestha" style="width:120px;height:150px;"/>
    <div class="">
        <ul class="no-style-ul overview-ul" style="margin-bottom: 8px;">
            <li>
                <h2 style="margin:0; padding: 0;">Shristi Shrestha</h2>
            </li>
            <li>
                <p>Phd Student</p>
            </li>
            <li>
                <p style="color:gray;">Division of Computer Science and Engineering</p>
            </li>
            <li>
                <p style="color:gray;">Louisiana State University, Baton Rouge, LA</p>
            </li>
        </ul>
        <ul class="no-style-ul" style="margin-bottom: 8px;">
            <li class="lead-li"> 
                Email: <a href="mailto:sshre35@lsu.edu">sshre35@lsu.edu
                </a>
            </li>
        </ul>
        {% include components/socials.html %}
    </div>
</div>