<div class="profile-section">
    <h2 style="margin:0;padding:0;margin-bottom:12px;">Publications</h2>
    <ul class="no-style-ul overview-ul publications-ul" style="margin-bottom: 8px;">
        {% for item in site.data.publications %}
            <li style="margin-bottom: 16px;">
                <div class="h-justified-flex">
                    <a class="h-start-flex paper-link" href="{{item.url}}" target="_blank">
                        <p style="color: inherit; margin:0; padding: 0;">
                            <b>{{item.title}}</b>
                        </p>
                    </a>
                </div>
                <div>
                    <p>
                        {% assign myname = "S. Shrestha" %}
                        {% for author in item.authors %}
                            {% if author contains myname %}
                                <b>{{ author }}</b>{% unless forloop.last %} {% endunless %}
                            {% else %}
                                {{ author }}{% unless forloop.last %} {% endunless %}
                            {% endif %}
                        {% endfor %}
                        <i>{{item.venue}} <b>{{item.venue_bold}}</b></i>, {{item.year}} 
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>