<ul class="no-style-ul overview-ul education-ul" style="margin-bottom: 8px;">
      <li>
        <div class="h-justified-flex">
            <a class="h-start-flex paper-link" href="https://dl.acm.org/doi/10.1145/3647632.3647986" target="_blank">
                <p style="color: inherit; margin:0; padding: 0; text-align: left;">No Country for Indie Developers: A Study of Google Play’s Closed Testing Requirements for New Personal Developer Accounts
                </p>
               
             </a>
        </div>
        <div>
            <p>
            G. Shrestha, <b>S. Shrestha</b>, and A. Mahmoud, <i>ACM Transactions on Software Engineering and Methodology (TOSEM)</i>, 2025.</p>
        </div>
    </li>
    <li>
        <div class="h-justified-flex">
            <a class="h-start-flex paper-link" href="https://dl.acm.org/doi/10.1145/3647632.3647986" target="_blank">
                <p style="color: inherit; margin:0; padding: 0;">Generating Rate Features for Mobile Applications
                </p>
                
             </a>
        </div>
        <div>
            <p>
            <b>S. Shrestha</b> and A. Mahmoud, <i>International Conference on Mobile Software Engineering and Systems (MobileSoft)</i>, 2024.</p>
        </div>
    </li>
  
</ul>