<div class="h-center-flex bg-banner container-fluid bg-white">
    <div class="h-center-flex container-banner">
        <div class="h-center-flex title-banner">
            <h3 class="text-center" style="margin-bottom: 12px; width:max-content;">Computer Human Interactions & Software Engineering</h3>
            <i style="font-size:1.1em; ">Upcoming Gathering</i>
            <b class="no-margin">October 4th, 2024 (Friday)</b>
            <p class="no-margin">12 PM to 2 PM</p>
            <p class="no-margin">Patrick F Taylor Building, Room 3250H</p>
        </div>
    </div>
</div>