<ul class="resources-list">
    {% for item in site.data.resources %}
        <li class="resources-card h-start-flex">
            <a href="{{ item.url }}" target="_blank">
                <div class="h-start-flex resources-card-title">
                    {% include {{ item.icon }} %}
                    <p class="no-margin no-padding">{{ item.title }}</p>
                </div>
                <p class="resources-card-desc">{{ item.description }}</p>
            </a>
        </li>
    {% endfor %}
</ul>