<ul class="h-start-flex">
    {% for item in site.data.people.students %}
        <a href="{{item.social.scholar}}" target="_blank" style="cursor: pointer;">
            <li class="people-card" style="background-image: url('{{ item.profile }}');">
                <div class="profile-details" style="display: inline-flex; column-gap:4px; margin-top: 4px; align-items: center;">
                    {% include svgs/scholar.svg %}
                    <p>{{ item.name }}</p>  
                </div>
            </li>
        </a>
    {% endfor %}
</ul>