<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body style="overflow: hidden; height: 100%; position: absolute; left:0; right:0; bottom:0; top:0;">
    <div class="container-fluid bg-white" style="padding: 0;">
      {{ content }}
    </div>
    <script src="{{ site.baseurl }}/public/assets/js/custom.js"></script>
    <script src="{{ site.baseurl }}/public/assets/js/bootstrap.bundle.min.js"></script>
    <script src="{{ site.baseurl }}/public/assets/js/jquery-3.6.0.min.js"></script>
  </body>
</html>
