<svg width="200" height="100" xmlns="http://www.w3.org/2000/svg">
    <!-- Cheese Triangle -->
    <polygon points="10, 60 60, 20 60 , 60" fill="#efefef" stroke="#d2d2d2" stroke-width="2"/>
    
    <!-- Holes in the Cheese -->
    <circle cx="18" cy="57" r="2" fill="#fff"/>
    <circle cx="48" cy="47" r="2" fill="#fff"/>
    <circle cx="56" cy="27" r="2" fill="#fff"/>
  
    <line x1="18" y1="57" x2="48" y2="47" stroke="#d2d2d2" stroke-width="1"/>
    <line x1="48" y1="47" x2="56" y2="27" stroke="#d2d2d2" stroke-width="1"/>
  </svg>